
.topbar{
    position: absolute;
    width: 100%;
    z-index: 5;
}
.top-topbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--third-color);
    padding: 10px 0px;
   
}
.top-topbar .container{
    flex-direction: row;
    justify-content: right;
    display: flex;
}
.top-topbar i{
    color: var(--primary-color);
    margin-right: 10px;
    padding-top: 4px;
}

.top-topbar p{
    color: #ffffff;
    margin-right: 10px;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
   font-size: 11px;
   font-weight: 400;
   padding-top: 5px;
   margin-bottom: 0;
    
}
.bg-light{
    background-color: unset;
}
.navbar{
    padding: 0 ;
}
.navbar .container{
    display: flex;
    margin-top: 0px;
    z-index: 5 !important;
}

.navbar-brand{
    width: 245px;
    height: 75px;
    padding: 10px;
}
.topbar-menu-right{
    flex: 6;
    margin-right: auto;
    border: 0px 1px solid ;
    display: flex;
}
.navbar-expand-lg .navbar-nav-scroll{
    padding: 20px 30px;
    border: none;
    text-align: center;
    border-radius: 0px 0px 12px 12px;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0px 2px 16px 6px #1a191924;
    

}
.navbar-light .navbar-nav .nav-link{
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    color: #28282890;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: transparent;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    text-decoration: underline 2px var(--secondary-color);
    font-weight: 600;
    margin-bottom: 2px;
}



@media screen and (max-width:991px) {

    .topbar{
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .navbar-collapse{
        margin-top: 10px;
    }
    
}
@media screen and (max-width: 414px){
    .navbar-brand img{
        width: 87%;
    }
    .top-topbar p{
        margin-right: auto;
    }
}