.section2-write{
    overflow: hidden;
}
.section2-write p{
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--third-color);

}
.section2-write h1{
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    /* font-weight: 600; */
    color: var(--secondary-color);
    text-transform: uppercase;
  }
.section2-write .row .col-lg-6:nth-child(2){
    position: relative;
}
.section-2-object-1{
    width: 13%;
    position: absolute;
    top: 10px;
    left: -5px;
    animation: object-3 3s infinite;
    transform: translateY(-30%);
}
.section2-image{
    width: 75%;
    margin-top: 0;
    margin-left: 50px;
}
.section-2-object-2{
    width: 70%;
    position: absolute;
    top: -100px;
    right: -210px;
    animation: object-4 3s infinite;

}
.button-2{
    margin-top: 34px;
    margin-bottom: 30px;
}
.button-2 a{
    padding: 13px 35px;
    border-radius: 40px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.button-2 a:hover{
    border: 1px solid var(--secondary-color);
    text-align: center;
    background-color: #fff;
    color: var(--secondary-color);

}



@media screen and (max-width: 768px){
    .section2-write .row >div:nth-child(1){
        order: 2;
    }
    .section2-write{
        height: unset;
        overflow: unset;
    }
}
@media screen and (max-width: 414px){
    .section-2-object-2{
        width: 60%;
        position: absolute;
        top: -30px;
        right: -100px;
    }

}
@media screen and (max-width: 320px){
    .section-2-object-2{
        width: 55%;
        position: absolute;
        top: -20px;
        right: -70px;
    }
    .section2-write h1{
        font-size: 40px;
        margin-top: 20px;
    }
}

@keyframes object-4{
    0% {
        transform: translateY(10%);
      }
      50% {
        transform: translateY(0%); 
      }
      100%{
        transform: translateY(10%)
      }
      
}
@keyframes object-3{
     0% {
        transform: translateY(-20%);
      }
     50% {
        transform: translateY(50%); 
        opacity: 1;
        }
    100% {
            transform: translateY(-20%); 
            opacity: 1;
            }
      
}
