.mainfram{
    width: 100%;
}
.mainfram-image{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;

}
.mainfram-image img{
    width: 100% ;
    border-radius: 20px;
    transition: transform .2s;
}
.mainfram-image img:hover{
    transform: scale(1.1);
}
.mainfram h1{
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 20px;
}
.mainfram p{
    color: #28282890;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.select-item{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.select-item p{
    padding-right: 10px;
    text-align: center !important;
    margin: 0 !important;
    color: var(--third-color);
    text-transform: capitalize;

}
.css-13cymwt-control{
    border-radius: 30px !important;
    margin-right: 10px !important;
    border: 1px solid var(--primary-color) !important;

}
.css-t3ipsp-control{
    border-radius: 30px !important;
    margin-right: 10px !important;
    border: 1px solid var(--primary-color) !important;
    box-shadow: none !important;
}
.css-1fdsijx-ValueContainer {
    padding: 3px 25px !important;
}
.css-1u9des2-indicatorSeparator{
    display: none;
}
.css-tj5bde-Svg{
    color: var(--secondary-color);
}
.product-image{
    position: relative;
    overflow: hidden; 
    margin-bottom: 10px;   
    margin-left: -7px;

}
.product-image img{
    width: 100%;
    border-radius: 10px;

}
.production-image-animation{
    position: absolute;
    transform:  translateY(100%);
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 20%;
    transition: .3s ease;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    opacity: 0.8;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center
    
}
.production-image-animation h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.product-image:hover .production-image-animation{
    transform: translateY(-0%);
}
.product-social-icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform:  translateX(100%);
    overflow: hidden;
    width: 25%;
    transition: .3s ease;
    border-radius: 10px;
    text-align: right;
    opacity: 0.7;
    top: 4%;
    right: -6%;
}
.product-image:hover .product-social-icon{
    transform:  translateX(-0%);
}
.product-social-icon img{
    width: 58%;
    margin-bottom: 11px;
}
.mainfram h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}
.mainfram .product-color{
    background-color: #F7F7F7;
    border-radius: 13px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 3px 7px 0px #1e1e1e1f;
}
.product-color h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.mainfram .col-lg-4 p{
    text-align: center;
}
.colors-kind{
    display: inline-flex;
    cursor: pointer;

}
.product-color .first-round{
    border: 1px solid #000;
    border-radius: 100%;
    height: 100%;
    padding: 2px;
    display: block;
    background-color: #fff;
    margin: 0px 6px;
}
.product-color .second-round{
    width: 100%;
    height: 100%;
    background-color: #EBC89A;
    border: none;
    border-radius: 100%;
    display: block;
    padding: 6px;
}
.product-color .second-round2{
    width: 100%;
    height: 100%;
    background-color: #7E5218;
    border: none;
    border-radius: 100%;
    display: block;
    padding: 6px;
}
.product-color .second-round3{
    width: 100%;
    height: 100%;
    background-color: #282828;
    border: none;
    border-radius: 100%;
    display: block;
    padding: 6px;
}
.mainfram .col-lg-4 {
    margin: 15px 0px;
}


@media screen and (max-width: 767px) {
    .select-item{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
    }
    .select-item p {
        text-align: left !important;
        margin-top: 20px !important;

    }
}
@media screen and (max-width: 414px) {
    .select-item{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: end;
    }
    .select-item p {
        text-align: left !important;
        margin-top: 20px !important;

    }
}