.section8-write{
    overflow: hidden;
    margin-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.section8-write .row .col-lg-6:nth-child(2){
    position: relative;
}
.section-8-object-1{
    width: 15%;
    position: absolute;
    top: 10px;
    left: -5px;
    animation: object-1 3s infinite;
    transform: translateY(-10%);
}
.section8-image{
    width: 31%;
    position: absolute;
    bottom: 50%;
    right: 58%;
}
.section-8-object-2{
    width: 7%;
    position: absolute;
    bottom: 20%;
    animation: object-2 3s infinite;
    left: 26%;


}

.video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3{
    width: 121% !important;
    max-width: 121% !important;
}
.video-react .video-react-video{
    position: absolute;
    top: 0;
    left: -69px;
    /* right: -70px !important; */
    width: 121%!important;
    height: 121% !important;
}
.video-react .video-react-big-play-button{
    top: 50% !important;
    left: 44% !important;
    border-radius: 100% !important;
    width: 11%;
    height: 24%;
    background-color: var(--secondary-color);
    border: none;

}
.video-react:hover .video-react-big-play-button, .video-react .video-react-big-play-button:focus{
    background-color: var(--primary-color) !important;
    border: none;
}

.video-react-icon-play-arrow:before, .video-react .video-react-bezel .video-react-bezel-icon-play:before, .video-react .video-react-play-control:before, .video-react .video-react-big-play-button:before{
    top: 20% !important;
}


@keyframes object-2{
    50% {
        transform: translateY(10%);
      }
      50% {
        transform: translateY(-10%); 
      }
      
}
@keyframes object-1{
     50% {
        transform: translateY(-10%);
        opacity: 0;
      }
      50% {
        transform: translateY(0%); 
        opacity: 1;
        }
      
}
