.main-footer{
    padding-top: 30px;
}
.main-footer .container{
    margin-top: 50px;
}
.main-footer .col-lg-4{
    padding: 10px;
}
.main-footer .col-lg-3{
    padding: 10px;
}
.main-footer img{
    margin-bottom: 20px;
    margin-top: -13px;
    
}
.main-footer p{
    margin-bottom: 10px;
    color: var(--third-color);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.main-footer i{
    color: #fff;
    margin: 10px;
    font-size: 16px;
    box-shadow: 10px 10px 39px 0px #27A3D950;
    background: var(--secondary-color);
    border-radius: 100%;
    height: 14%;
    width: 9%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.main-footer h1{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 26px;
}
.main-footer a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    color: var(--third-color);
}
.main-footer a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.footer-section3{
    padding: 10px 10px 10px 40px !important;
}
.footer-section3 h1{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-left: 0;
}
.footer-section3 h3{
    color: var(--third-color);
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-weight: 550;
    font-size: 16px;
    margin-left: 3px;

    
}
.footer-section3 p{
    margin-bottom: 10px;
    color: var(--third-color);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 3px;
}
.footer-section3 .flags-text{
    display: flex;
    flex-direction: row;
}
.flags-text p{
    margin-left: 10px;
}
.flags-text img{
    margin-bottom: 14px;
    margin-top: 0;
    width: 10%;
}
.rights-text{
    width: 100%;
    height: 28px;
    text-align: center;
    margin-bottom: 0;
    background-color: var(--secondary-color);
    color: #fff;
}
.rights-text p{
    margin-bottom: 0;
    color: #fff;
    text-transform: capitalize;
    padding-top: 6px;
}